<!-- Shared templates request -->
<script src="{{base-dir}}templates.js"></script>

<!-- Vendor -->
<script src="{{base-dir}}js/vendor/less.js"></script>
<script src="{{base-dir}}js/vendor/jquery.js"></script>
<script src="{{base-dir}}js/vendor/socket.io.js"></script>
<script src="{{base-dir}}js/vendor/hogan.js"></script>
<script src="{{base-dir}}js/vendor/highlight.pack.js"></script>

<!-- Core -->
<script src="{{base-dir}}js/sdk/core/setup.js"></script>
<script src="{{base-dir}}js/sdk/core/implement.js"></script>
<script src="{{base-dir}}js/sdk/core/config.js"></script>
<script src="{{base-dir}}js/sdk/core/template.js"></script>
<script src="{{base-dir}}js/sdk/core/socket.js"></script>
<script src="{{base-dir}}js/sdk/core/event/settings.js"></script>
<script src="{{base-dir}}js/sdk/core/event/create.js"></script>
<script src="{{base-dir}}js/sdk/core/action.js"></script>
<script src="{{base-dir}}js/sdk/core/parseTemplates.js"></script>

<!-- Various - Constants -->
<script src="{{base-dir}}js/sdk/constants.js"></script>

<!-- Utils -->
<script src="{{base-dir}}js/sdk/utils/string.js"></script>
<script src="{{base-dir}}js/sdk/utils/math.js"></script>

<!-- Form -->
<script src="{{base-dir}}js/sdk/form/settings.js"></script>
<script src="{{base-dir}}js/sdk/form/create.js"></script>
<script src="{{base-dir}}js/sdk/form/validation.js"></script>
<script src="{{base-dir}}js/sdk/form/bind.js"></script>

<!-- UI - Tabs -->
<script src="{{base-dir}}js/sdk/ui/tabs/settings.js"></script>
<script src="{{base-dir}}js/sdk/ui/tabs/create.js"></script>
<script src="{{base-dir}}js/sdk/ui/tabs/bind.js"></script>

<!-- UI - Modal -->
<script src="{{base-dir}}js/sdk/ui/modal/settings.js"></script>
<script src="{{base-dir}}js/sdk/ui/modal/create.js"></script>

<!-- UI - ClassToggle -->
<script src="{{base-dir}}js/sdk/ui/classToggle.js"></script>

<!-- UI - Tooltip -->
<script src="{{base-dir}}js/sdk/ui/tooltip/settings.js"></script>
<script src="{{base-dir}}js/sdk/ui/tooltip/create.js"></script>
<script src="{{base-dir}}js/sdk/ui/tooltip/bind.js"></script>

<!-- UI - Dropdown -->
<script src="{{base-dir}}js/sdk/ui/dropdown/create.js"></script>

<!-- UI - Alert -->
<script src="{{base-dir}}js/sdk/ui/alert/settings.js"></script>
<script src="{{base-dir}}js/sdk/ui/alert/create.js"></script>

<!-- UI - Code highlighter -->
<script src="{{base-dir}}js/sdk/ui/codeHighlighter.js"></script>

<!-- Component - Comment -->
<script src="{{base-dir}}js/sdk/component/comment/settings.js"></script>
<script src="{{base-dir}}js/sdk/component/comment/create.js"></script>
<script src="{{base-dir}}js/sdk/component/comment/bind.js"></script>

<!-- Component - IE Warning -->
<script src="{{base-dir}}js/sdk/component/ieWarning/settings.js"></script>
<script src="{{base-dir}}js/sdk/component/ieWarning/bind.js"></script>