<div class="page-width">

	<div class="section">

		<h1 class="ruled">New topic</h1>

		<div class="full-width-form">

			{{#error}}
				<div class="output error">{{error}}</div>
			{{/error}}

			<form method="post" class="topic-form" />

				<label for="title">Title:</label>
				<input type="text" name="topic[title]" placeholder="Please enter a title for this topic" />

				<label for="text">Content:</label>
				<textarea name="topic[text]" placeholder="Please type some content for this topic"></textarea>

				<label for="name">Your name:</label>
				<input type="text" name="topic[name]" placeholder="Please enter your name" />

				<label for="email">Your email address:</label>
				<input type="email" name="topic[email]" placeholder="Please enter your email address" />

				<hr />

				<div class="buttons-right">
					<input type="submit" value="Create topic" />
					<a href="/" class="button">Cancel</a>
				</div>

			</form>
		</div>

	</div>

</div>